  
/* Hero */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}  


/* Section */

.section-title {
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
  }
  
  /* Features */
  
  .feature-list  {
    color: var(--text-color);
font-size: 14px;
line-height: 1.7;
  }
  

    /* Team */
    .team-list {
        color: var(--text-color);
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
     
    }
    .team-list .title {
        color: var(--title-text-color);
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
         }

     
/* Button */

.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    list-style: none;
  }
  
  .button.primary {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-weight: 700; 
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    list-style: none;
  }
  
  .button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    list-style: none;
  }
