
/* основной цвет текста 212121 */
/* вторичный цвет текста rgba(117, 117, 117, 1) */
/* акцент rgba(33, 150, 243, 1) */

/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA*/

.list {
    list-style: none;
}

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color:rgba(33, 150, 243, 1);
    --primary-white-color:#FFFFFF; 
    --bg-color: #E5E5E5;

    
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-style: 400;
    font-weight: 400;

}
/* Logo */
.logo {
    color: var(--title-text-color);

    font-family: Raleway, sans-serif;
    text-decoration: none;
    
font-weight: 700;
font-size: 26px;
line-height: 1.19px;


} 

.logo:hover {
    color: var(--accent-color);
}  

/* Site nav */

.site-nav .link {
    color: var(--accent-color);
   

font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
text-decoration: none;
}   
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}   

/* Hero */
.hero-title {
    color: var(--primary-white-color);
    
font-weight: 900;
font-size: 44px;
line-height: 1.36px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}  

/* Section */

.section-title {
    color: var(--title-text-color);
 
font-weight: 700;
font-size: 36px;
line-height: 1.16px;
text-align: center;

} 

/* Features */
    .feature-list .title {
        color: var(--title-text-color);
        background-color: #E5E5E5;
        list-style: none;
        
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
text-transform: uppercase;
    }

    .feature-list .text {

        
        font-size: 14px;
        line-height: 1.71px;
    
    }
    
    /* Team */

    .team-list .title {
        color: var(--title-text-color)
        list-style: none;
        background-color: #F5F4FA;
        font-weight: 500;
        line-height: 1.18px;
        list-style: none;

       
    }
    .team-list .text {
        


line-height: 1.18px;
list-style: none;

    }
     /* Button */
     
     .button {
         color: var(--primary-white-color);
         background-color: var(--accent-color);
         text-decoration: none;
         
font-weight: 700;
line-height: 1.87px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
        }
        
        .button.primary {
            color: var(--accent-color);
            background-color: var(--primary-white-color);
        }
        .button.secondary {
            color: var(--primary-text-color);
            background-color: var(--primary-white-color);
        }


